<!DOCTYPE html>
<html class="js" lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width" name="viewport">
  <title>Health | MyService</title>
  <link href="docs/css/main.css" rel="stylesheet">
</head>
<body class="uikit-body uikit-grid landing-page-authenticated uikit-refactor">
  <noscript><p role="alert">This website needs JavaScript to work properly.</p></noscript>
  <nav class="uikit-skip-link"><a class="uikit-skip-link__link" href="#main-content">Skip to main content</a></nav>
  <% include ../global/partials/header-topbar.ejs %>
  <% include ../global/partials/header-authenticated--health.ejs %>
  
  <main>
	<div class="container" style="margin-bottom:60px;">
		<h1>Health</h1>

		<div class="row">
    		<div class="col-sm-6">
    		
    			<h2>Your DVA Health card (White card)</h2>
    			
				<p>You can use your DVA Health card to access health services for the following accepted conditions:</p>
				<ul class="boxed-list-items">
					<li><b>Lumbar spondylosis</b></li>
					<li><b>Sprained ankle</b></li>
				</ul>
				<button class="uikit-btn uikit-btn--secondary small" onclick="window.location.href = '/health-card1'">Add mental health treatment to my card</button>
			</div>
			<div class="col-sm-6" style="text-align:center;">
				<div class="health-card">
				<img src="../../docs/images/health-card.png" width="350">
				<h2>NSM 928</h2>
				</div>
				<div style="padding-bottom:10px;"><i>Above: an example DVA Health card (White card)</i></div>
			</div>
		</div>
	</div>
    <div class="scroll-down bounce"><a href="#section2"><img src="../../../docs/images/ico-scroll-down.png"></a></div>
    <% include ../global/partials/scroll-down.ejs %>
    <div id="section2" style="background-color:#f4f4f4; padding:30px 0 60px 0; margin:20px 0 20px 0;">
    	<div class="container">
    		<h2>How to use your Health card</h2>
    		
    		<div class="row">
    			<div class="col-sm-4 healthcard-steps">
    				<div class="image"><img src="../../docs/images/healthcard-step1-2.png"></div>
    				<p class="description">Check with your health care provider that they accept the DVA Health card.</p></div>
				<div class="col-sm-4 healthcard-steps">
					<div class="image"><img src="../../docs/images/healthcard-step2-2.png"></div>
					<p class="description">Show your Health card when you receive medical treatment for your condition.</p>
					<p>You can also use <a href="../../docs/images/healthcard-example-letter.png" target="_blank" rel="external">the letter</a> you received from us if your card has not arrived yet.</p>
				</div>
   				<div class="col-sm-4 healthcard-steps">
   					<div class="image"><img src="../../docs/images/healthcard-step3-2.png"></div>
   					<p class="description">You don’t have to pay for treatment if it relates to any of your approved conditions.</p>
   				</div>
    		</div>
    		
    		<div class="tip--wrapper" style="margin:2em 0 2em 0;">
				If you are billed by your health care provider, <b>do not</b> pay the account and tell DVA immediately on 133 254 (or 1800 555 254 in regional areas). If you've already paid for treatment you can <a href="https://www.dva.gov.au/dvaforms/Documents/D1181.pdf" rel="external" target="_blank">make an application for reimbursement</a>.
   			</div>
    	</div>
    </div>
    
    <!--
    <div style="background-color:#e4e4e4; padding:60px 0 60px 0; margin:0 0 30px 0;">
    	<div class="container">
			<div style="float:left; display:inline-block; padding-right:2em; padding-top:1.8em;">
				<img src="../../docs/images/ico-helping-hands.svg" width="120">
			</div>
			<div style="display:inline-block;">
				<h2>We're here to help</h2>
				<p>If you have questions about your DVA Health card, get in touch with us:</p>
				<ul>
					<li>Phone: <b>133 254</b> (or <b>1800 555 254</b> in regional areas) – Monday to Friday, 9am to 5pm AEST</li>
					<li>Email: <a href="mailto:needs.assessments@dva.gov.au">needs.assessments@dva.gov.au</a> – we’ll get back to you within 1 business day.</li>
				</ul>		
			</div>
		</div>
	</div>
   -->
    
    <div class="scroll-down bounce"><a href="#section3"><img src="../../../docs/images/ico-scroll-down.png"></a></div>
    <div id="section3" class="container">
		<div class="row">
		<br>
		<h2>What you can use your card for</h2>
		
		<!--
			<div class="col-sm-5">
				<h2>Mental health treatment</h2>

				<p>We will pay for your mental health treatment under non-liability health care arrangements. All you need to do is submit a request and we will update your Health card to include mental health treatment.</p>
				<button class="uikit-btn uikit-btn--secondary">Access mental health treatment</button>
			</div>
			
			<div class="col-sm-7">
				<h3>How to access free mental health treatment</h3>
				<div class="row">
					<div class="col-xs-4">
						<img src="../../docs/images/mentalhealth-step1.png" width="180">
					</div>
					<div class="col-xs-8">
						<p>Use MyService to request free mental health treatment. We will then update your Health card to include mental health treatment.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<img src="../../docs/images/mentalhealth-step2.png" width="180">
					</div>
					<div class="col-xs-8">
						<p>Go get treatment.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-4">
						<img src="../../docs/images/mentalhealth-step3.png" width="180">
					</div>
					<div class="col-xs-8">
						<p>Don't pay for treatment. Use your DVA Health card instead.</p>
					</div>
				</div>
			</div>
			-->
		</div>
	</div>
	
    
    <br><br>

  </main>
  <% include ../global/partials/footer.ejs %>

</body>
</html>