/**********************************
	Headers

**********************************/

// Temporarily wrap everything in body class - to be removed later
.uikit-refactor {

.uikit-header {
  background: $blue;
	h1 {
	  color: white;
	  float: left;
	  font-weight: 400;
	  padding: 0;
	  margin: 0.35em 0 0 0;
	}
	p {
		color: white;
	}

}
@media only screen and (min-width: $small-handheld) {
	.uikit-header {
		background: $blue url(../images/bg-header-auth.jpg) no-repeat 0 0;
		background-size: cover;
		background-position:left;
	}
}


// Standard blue background header

header {
	sup.beta {
	  display: inline-block;
	  padding: 3px 5px;
	  letter-spacing: 1px;
	  border-radius: 4px;
	  line-height: 1;
	  font-size: 0.6rem;
	  vertical-align: top;
	  font-weight: 700;
	  margin-left: 5px;
	  top: 0px;
	  text-transform: uppercase;
	}
	ul {
		padding: 0;
		background-color: $blue-dark;
		margin: 0 -12px;
		margin-top: 3em;
		min-height: 40px;
	}
}
@media only screen and (min-width: $small-handheld) {
	header {
		h1 {
		  font-size: 1.5em;
		  margin-top: 0.15em;
		}
	}
}

}