<header class="navigation">
	<div class="container topnav">
	
		<h1 class="sr">MyService <sup>Beta</sup></h1>
		<img class="logo-myservice" src="../../../docs/images/logo-myservice.svg" alt="MyService logo" />
		<button class="toggle" aria-expanded="false">Menu</button>
		
		<div class="dropdown">
		  <button class="dropbtn nav-profile"><span>Robert Johnson</span> <i class="arrow down"></i></button>
		  <div class="dropdown-content">
			<a href="#">Personal details</a>
			<a href="#">Contact details</a>
			<a href="#">Account settings</a>
			<a href="#">Service history</a>
			<a href="#">Income and assets</a>
		  </div>
		</div>
		
	</div>
</header>